*{
			margin:0;
			padding:0;
		}
		a{
			text-decoration: none;
			color: #333;
		}
		body{
			background-color: #b4daf0;
			background-image: url("img/body_repeat.png");
			background-repeat: repeat-x;
			background-position: center 0;
			text-decoration: none;
			font: 12px/1.3 'Arial','Microsoft YaHei';
			color: #333;
		}
		ol,ul{
			list-style: none;
		}
		.clear{ clear: both; height: 0; width: 0; font-size: 0;}

		

		.app{
			padding-top: 50px;
			background: url("img/body_bg.jpg") no-repeat top center;
		}
		.header {
			box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 1px 0px, rgba(0, 0, 0, 0.14902) 0px 0px 6px 2px;
			background: rgb(255,255,255);
			position: fixed;
			top: 0px;
			left: 0px;
			z-index:9999;
			width: 100%;
			height: 48px;
			border-top: 2px solid rgb(250,125,60);
		}
		.hd-content{
			position: relative;
			height: 48px;
			margin: 0px auto;
			/*width: 1000px;*/
			width: 900px;
		}
		.clearfix{
			display: block;
		}
		.logo{
			position: relative;
			width: 90px;
			height: 48px;
			float: left;
			top: auto;
			left: auto;
		}
		.logo img{
			height: 40px;
			margin-top:4px;
		}
		.nav{
			float: left;
			margin: 9px 20px 9px 0px;
		}
		.nav li{
			float: left;
			margin-left: 18px;
			font-size: 14px;
		}
		.nav li a{
			display: block;
			height: 30px;
			line-height: 30px;
			white-space: nowrap;
			color: rgb(51,51,51);
			/*font-size: 16px;*/
		}
		.nav li a:hover{
			/*color: rgb(235,115,80);*/
			color: rgb(250,125,60);
		}
		.nav li a span{
			display: inline-block;
			vertical-align: middle;
		}

		.nav .icon{
			font-size: 24px;
		}
		.nav .cur{
			/*color: rgb(235,115,80);*/
			color: rgb(250,125,60);
		}
		.hd-user{
			float: right;
		}

		
		.hd-user i{
			display: block;
			position: relative;
			width: 6px;
			height: 6px;
			background: #f00;
			border-radius: 50%;
			left: 20px;
			bottom: 28px;
		}
		.hd-hide{
			display: none !important;
		}
		.main{
			background-color: rgba(70,149,194,0.3);
			/*width:1000px;*/
			width: 900px;
			min-height: 680px;
			margin:0 auto;
			padding: 16px 0 10px 0;
			font-size:0px;  /*解决inline-block间隙*/
		}
		.left-nav{
			width:150px;
			font-size:12px;
			vertical-align: top;
			display:inline-block;
		}
		.left-item{
			border-color: rgba(255,255,255,0.2);
			border-bottom: none;
		}
		.left-item h3{
			display:block;
			height: 34px;
			line-height: 34px;
			font-size: 14px;
			font-weight: bold;
			text-decoration: none;
			overflow: hidden;
		}
		.left-item a{
			display: block;
			text-decoration:none;
			color: #fff;
			position: relative;
			padding: 0 0 0 15px;
		}
		.left-item a:hover{
			background-color:rgba(255,255,255,0.2);
		}
		.left-item a.cur{
			background-color:rgba(255,255,255,0.2);
		}
		.left-line{
			height:0px;
			margin:11px 10px 11px 10px;
			border-top-width: 1px;
			border-top-style: solid;
			border-color: rgba(255,255,255,0.2);
		}


		.right-main{
			width: 740px;
			margin-right:10px;
			display: inline-block;
			font-size: 12px;
			position: relative;
		}
		.right-tab{
			box-shadow: rgba(0, 0, 0, 0.0392157) -1px 0px 0px, rgba(0, 0, 0, 0.0392157) 0px -1px 0px, rgba(0, 0, 0, 0.0392157) 1px 0px 0px;
			width: 100%;
			height: 38px;
			background-color: #fff;
			margin: 0 0 10px 0;
			border-radius: 2px;
		}
		.right-tab ul{
			float: left;
		}
		.right-tab ul li{
			float: left;
			width: 60px;
			height: 38px;
			text-align: center;
			border-bottom-width:0px;
			border-bottom-style: solid;
			border-bottom-color: #fff;
			border-bottom-left-radius: 2px;
			position: relative;
		}
		.right-tab ul li.cur{
			font-weight: bold;
			/*border-bottom-color: rgb(235,115,80);*/
		}
		.right-tab ul li a{
			color: #333;
			text-decoration: none;
			line-height: 38px;
		}
		.right-tab ul li a:hover{
			color: rgb(235,115,80);
		}
		.right-tab li span{
			visibility: hidden;
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 0;
			height: 0;
			vertical-align: top;
		}
		.right-tab li.cur span{
			visibility: visible;
		}
		.right-tab li span i{
			position:absolute;
			top:-14px;
			left:-7px;
			width: 0;
			height: 0;
			border-color: transparent transparent #61A6D0 transparent;
			border-width: 7px;
			border-style: solid;
			display: inline-block;
			vertical-align: top;
		}

		.right-body{
			
		}

		.right-card{
			position: relative;
			margin-bottom: 10px;
			background-color: #fff;
			box-shadow:0 0 2px rgba(0,0,0,0.2);
			border-radius: 2px;
			padding: 16px 16px 8px 16px;
			font-size: 0px;
		}
		.right-card .bgimg{
			position: absolute;
			right: 10px;
			top: 10px;
			width: 50px;
			height: 100px;
			background-repeat: no-repeat;
			background-position: top right;
			opacity: 0.75;
			background-size: auto 45px;
		}
		.right-card.hd .bgimg{
			background-image: url("img/huodong-s.png");
		}
		.right-card.zx .bgimg{
			background-image: url("img/zixun-s.png");
		}

		.club-head{
			font-size:12px;
			display:inline-block;
			vertical-align: top;
			width: 50px;
		}
		.club-head img{
			width:50px;
			height: 50px;
			display: block;
			/*border: 1px solid #C0C0C0;*/
			border-radius: 50%;
			box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 1px 0px, rgba(0, 0, 0, 0.14902) 0px 0px 6px 2px;
		}
		.club-head p{
			width: 50px;
			/*line-height: 30px;*/
			text-align: center;
			font-weight: bold;
			margin:15px 0 15px 0;
		}
		.card-content{
			width: 638px;
			display: inline-block;
			vertical-align: top;
			font-size: 12px;
			margin-left: 16px;
		}
		.card-content p.title{
			font-weight: bold;
			font-size: 14px;
		}
		.card-content p.line{
			margin:8px 4px;
			border-top-width: 1px;
			border-top-style: solid;
			border-color: #ccc;
		}
		.card-content p.abstract{
			margin-left: 16px;
			margin-right: 16px;
			margin-bottom: 5px;
		}
		.card-content span.time{
			color: #808080;
			margin-left: 16px;
			height: 30px;
			line-height: 30px;
		}
		.right-card a.enlist{
			display: none;
			float: right;
			height: 30px;
			line-height: 30px;
			width: 100px;
			margin-right: 16px;
			text-align: center;
			color: #fff;
			background:  #F94644;
			border-radius: 2px;
			font-weight: bold;
		}
		.right-card a.enlist:hover{
			background:  #F80807;
		}
		.right-card.hd a.enlist{
			display: block;
		}


		@media screen and (max-width: 1000px){
			.hd-content{
				width: 900px;
			}
			.main{
				width: 900px;
			}
		}





		/*下面为details页面*/
		.right-card.details{
			border-radius: 2px 2px 0 0;
			margin-bottom: 0;
		}
		.right-card .article-title{
			font-size: 20px;
			font-weight: bold;
		}
		.right-card .article-time{
			color: #808080;
			margin-bottom: 10px;
		}
		.right-card .article-body{
			font-size:14px;
		}
		.right-card .article-body img{
			max-width: 700px;
		}
		.right-card .enlistbox{
			display: none;
			font-size:14px;
			height: 30px;
		}
		.right-card.hd .enlistbox{
			display: block;
		}
		.right-main .comment{
			background: #e9e9f1;
			padding-top: 16px;
			border-top-width: 1px;
			border-top-style: solid;
			border-color: #d9d9d9;
			padding-bottom: 26px;
		}
		.right-main .comment-publish{
			padding: 0px 16px 10px 16px;
			display: none;
		}
		.right-main .comment-publish.login{
			display: block;
		}
		.right-main .user-head{
			float: left;
			width: 30px;
			height: 30px;
		}
		.right-main .user-head img{
			width: 30px;
			height: 30px;
		}
		.right-main .publish{
			margin-left: 50px;
		}
		
		.right-main .p_input{
			margin-bottom: 10px;
		}
		.right-main .p_input textarea{
			overflow: hidden;
			padding: 5px 2px 0px 6px;
			border-style: solid;
			border-width: 1px;
			height: 92px;
			font-size: 12px;
			word-wrap: break-word;
			line-height: 18px;
			outline: none;
			width: 98%;
			background-color: #fff;
			border-color: #ccc;
			color: #808080;
			text-decoration: none;
			box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15) inset;
			resize: none;
			white-space: pre-wrap;
		}
		.right-main .p_input textarea:focus{
			border-color: #fa7d3c !important;
			box-shadow: none;
		}
		.right-main .p_button{
			float: right;
		}
		.right-main .allclub-info .p_button{
			float: none;
		}
		.right-main .p_button a{
			display: inline-block;
			background: rgb(255, 129, 64);
			border: 1px solid rgb(247,124,61);
			color: #fff;
			box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px;
			border-radius: 2px;
			height: 24px;
			width: 60px;
			line-height: 24px;
			font-size: 12px;
			text-align: center;
			outline: none;
		}
		.right-main .p_button a:hover{
			background: rgb(247,103,29);
			border: 1px solid rgb(240,105,35);
		}

		.right-main .comment-all{
			border-top-width: 0px;
			border-top-style: solid;
			border-color: #d9d9d9;
			margin: 6px 16px 0px 70px;
		}
		.comment-all .comment-count{
			display:block;
			/*float:right;*/
			color: #808080;
		}
		.comment-all .comment-list{

		}
		.comment-all .comment-li{
			padding: 5px 0 7px;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-color: #d9d9d9;
		}
		.comment-all .user-head{
			padding: 6px 0 0;
			width: 30px;
			height: 30px;
			float: left;
		}
		.comment-all .user-head img{
			width: 30px;
			height: 30px;
		}
		.comment-all .comment-con{
			margin-left: 40px;
		}
		.comment-all .comment-text{
			padding-bottom: 2px;
			overflow: hidden;
			line-height: 23px;
			word-wrap: break-word;
		}
		.comment-all .comment-text span{
			color: #eb7350;
		}
		.comment-all .time{
			line-height: 16px;
			color: #808080;
		}

		/*下面是百团荟萃页面*/
		.right-card.allclub{
			font-size:0;
		}
		.allclub-item{
			display: inline-block;
			margin-left: 10px;
			margin-bottom: 24px;
		}

		
		.club-head{
			display: inline-block;
		}
		.club-head img{
			width: 50px;
			height: 50px;
		}
		.allclub-info{
			font-size: 14px;
			display: inline-block;
			margin-left: 16px;
			width: 150px;
		}
		.allclub-info p:nth-child(1){
			line-height: 30px;
			font-size: 18px;
			color: #000;
		}
		.allclub-info p:nth-child(2){
			line-height: 20px;
			font-size: 12px;
			color: #808080;
		}

		.allclub-split{
			display: block;
			font-size: 24px;
		}
		.allclub-split p{
			color: #808080;
			margin-left: 16px;
		}
		.allclub-split div{
			border-top-width: 1px;
			border-top-style: solid;
			border-color: #888;
			margin: 10px 10px 10px 10px;
		}